=bootstrap_form_with model: @works, local: true do |f|
  =f.text_field :title, placeholder: "TITLE"
  =f.text_field :release,  placeholder: "RELEASE DATE"
  =f.text_field :cast, placeholder: "CAST"
  =f.text_field :discription,  placeholder: "DISCPRIPTION"
  =f.submit
