%h1 Index
-# -index = 1
-# -@restaurants.each do |restaurant|
-#   =index
-#   =link_to restaurant.name, restaurant_path(restaurant.id)
-#   %br
-#   -index += 1
-@works.each_with_index do |work, index|
  #{index + 1}.
  =link_to work.title, work_path(work)
  %br
  %br
=link_to "Register", new_work_path
