%h1 Index
-# -index = 1
-# -@restaurants.each do |restaurant|
-#   =index
-#   =link_to restaurant.name, restaurant_path(restaurant.id)
-#   %br
-#   -index += 1
-@works.each_with_index do |work, index|
 #{index + 1}.
 =link_to work.name, work_path(work)
 %br

=link_to "新規登録", new_work_path
