%h1="showwwwww"
=@work.title
%br
%br
=@work.release
%br
%br
=@work.cast
%br
%br
=@work.description
%br
%br

=link_to "Go to TOP", works_path
=link_to "Go to EDIT", edit_work_path(@work)
=link_to "Go to DELETE", work_path(@work), method: :delete, data: {confirm: "削除しますか？"}
