%h1="Directors"
=@director.name
%br
%br
=@director.country
%br

%h2 TITLE
-@director.works.each do |work|
  =link_to "#{work.title}, (#{work.release})", work_path(work)
  %br
=link_to 'Add new movie', new_work_path(director_id: @director.id)
=link_to "Go to TOP", directors_path
=link_to "Go to EDIT", edit_director_path(@director)
=link_to "Go to DELETE", director_path(@director), method: :delete, data: {confirm: "Want to delete?"}
