-# %h1="Directors"
-# =@director.name
-# %br
-# %br
-# =@director.country
-# %br
-#
-# %h2 TITLE
-# -@director.works.each do |work|
-#   =link_to "#{work.title}, (#{work.release})", work_path(work)
-#   %br
-# =link_to 'Add new movie', new_work_path(director_id: @director.id)
-# =link_to "Go to TOP", directors_path
-# =link_to "Go to EDIT", edit_director_path(@director)
-# =link_to "Go to DELETE", director_path(@director), method: :delete, data: {confirm: "Want to delete?"}

%main#main
  %section.section
    .container
      .row.mb-4.align-items-center
        .col-md-6{"data-aos" => "fade-up"}
          %h2=@director.name
          %p=@director.country
    .site-section.pb-0
      .container
        .row.align-items-stretch
          .col-md-8{"data-aos" => "fade-up"}
            -# %img.img-fluid{:alt => "Image", :src => "/img/img_1_big.jpg"}/
            -if @director.image_url
              =image_tag @director.image_url, class: 'img-fluid'
            -else
              =image_tag '/img/default_image.png', class: 'img-fluid'

          .col-md-3.ml-auto{"data-aos" => "fade-up", "data-aos-delay" => "100"}
            .sticky-content
              -# %h3.h3
              -#   =@director.name
              -# %p.mb-4
              -#   %span.text-muted=@director.country
              -# %p.mb-4
              -#   %span.text-muted=@work.cast
              -# .mb-5
              -#   %p=@work.description

              %h3.h3.mb-3 MOVIES
              %ul.list-unstyled.list-line.mb-5
                -@director.works.each do |work|
                  =link_to "#{work.title}(#{work.release})", work_path(work)
                  %br

            -# =link_to 'Add new movie', new_work_path(director_id: @director.id)
            =link_to "BACK", directors_path
            =link_to "EDIT", edit_director_path(@director)
            =link_to "DELETE", director_path(@director), method: :delete, data: {confirm: "Want to delete?"}
            =link_to "MOVIES", works_path
